

{{#if user}}
<section class="coso">
    <div>
        <h1>¡¡¡Bienvenidx {{user.firstName}} {{user.lastName}} Rol: {{user.role}}!!!</h1>
        <p>Email: {{user.email}}</p>
        <img src="/img/imgPages/dinoJardinero.jpg" alt="imagen de bienvenida" width="50%" height="55%">
        <div><a href="/api/users/{{user.id}}/documents"><button class="custom-button">Cambiar a premium</button></a></div>
        <div><a href="/api/sessions/logout"><button class="custom-button">Cerrar Sesión</button></a></div>
    </div>
</section>
{{#if isPremium}}
<p><a href="/api/products/new"><button class="custom-button">Agregar producto (premium)</button></a></p>
<p><a href="/api/products/manage"><button class="custom-button">Ir a vista "Borrar productos"(premium)</button></a></p>
{{/if}}

{{#if isAdmin}}
<div>
    <p><a href="/api/products/new"><button class="custom-button">Agregar producto (admin)</button></a></p>
    <p><a href="/api/users/manage"class="custom-button">Ir a page manager</a></p>
    <p><a href="/api/products/manage"><button class="custom-button">Ir a vista "Borrar productos"(premium)</button></a></p>
</div>
{{/if}}

{{/if}}

<h2>Nuestros productos</h2>
<section class="productsCards">
    {{#if pagination}}
        {{#if pagination.isValid}}
        {{#each products}}
        <div class="newCard">
            <div class="card-img">
                <img src="{{this.thumbnails}}" alt="Product img" width="120px" height="150px">
            </div>
            <div class="detailContainer">
                <h2>{{this.title}}</h2>
                <p>{{this.description}}</p>
                <p class="priceTag">Precio: {{this.price}}</p>
                <a href="/api/products/{{this._id}}"><button class="custom-button">Ver mas</button></a>
            </div>
        </div>
        {{/each}}
        <div class="display">
            {{#if pagination.prevLink}}
            <a href="{{pagination.prevLink}}">&lt;&lt; Anterior</a>
            {{/if}}
            &nbsp;
            {{pagination.currentPage}}
            &nbsp;
            {{#if pagination.nextLink}}
            <a href="{{pagination.nextLink}}">Siguiente &gt;&gt;</a>
            {{/if}}
        </div>
        {{else}}
        <h1>No hay productos para mostrar</h1>
        {{/if}}
    {{else}}
    <h1>Error: No se pudo cargar la paginación.</h1>
    {{/if}}
</section>
