
<main class="gridContainer">
    <div class="gridCard ">
    {{#if thumbnails}}
    <center><img src="{{thumbnails}}" /></center>
    {{/if}}

    <p>Nombre del producto:{{title}}</p>
    <p>Categoria:{{category}}</p>
    <p>Descripcion del producto:{{description}}</p>
    <p>Codigo del producto:{{code}}</p>
    {{#if isStock}}
    <p>Precio: {{price}}</p>
    <button id="add-to-cart-btn" data-product-id="{{this.code}}">Agregar producto al carrito</button>
    {{else}}
    <p>No hay stock del producto</p>
    {{/if}}
    </div>
</main>

<script src="/js/frontendCart.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    document.getElementById('add-to-cart-btn').addEventListener('click', async function(event) {
        const productId = this.getAttribute('data-product-id');
        const response = await fetch('/api/carts/${cart}/products/:' + productId, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ quantity: 1 }) 
        });

        if (response.ok) {
            swal("Producto agregado al carrito!", {
                icon: "success",
            });
        } else {
            swal("Error al agregar producto al carrito", {
                icon: "error",
            });
        }
    });
</script>